a:not(.img-link) {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  position: relative;
  text-decoration: none;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: $green;
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.25s linear;
  }

  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

  &:hover {
    text-decoration: none;
  }
}

button:not(.nav-link) {
  box-shadow: $boxShadowSm;
  background: $blue;
  color: $white;
  padding: 5px 20px;
  border-radius: 0;
  border: none;
  margin-top: 10px;
  outline: none;

  &:hover {
    background: $lightBlue;
  }

  &:active {
    background: $darkBlue;
    box-shadow: none;
  }
}

button.nav-link {
  border: none;
  background: none;
  outline: none;
  padding: 0 10px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    bottom: 0;
    left: 10px;
    background: $green;
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.25s linear;
  }

  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

input[type='text'],
input[type='email'],
textarea.form-control {
  border: 1px solid $input-grey;
  background: linear-gradient(to bottom, $input-gradient-white 0%, $white 100%);
  border-radius: $borderRadius;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: 0 1px 2px $input-inset-shadow1 inset,
  0 -1px 0 $input-inset-shadow2 inset;
  transition: all 0.2s linear;

  &:focus,
  &.active {
    border: 1px solid $lightBlue !important;
    outline: none !important;
    box-shadow: none !important;
  }
}
