.contact {
  .header-container {
    padding: 0;

    p:last-of-type {
      margin-bottom: 30px;
    }
  }

  .contact-container {
    display: flex;
    flex-direction: column;

    .sidebar {
      border-right: 10px solid $blue;
    }

    form {
      .send-div {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
