header {
  .navbar {
    background: rgba(255, 255, 255, 0.95);

    #logo-img {
      padding: 0;
      margin: 8px;

      &:hover {
        cursor: pointer;
      }
    }

    .container {
      padding: 0;

      .form-check {
        margin-bottom: 0;
      }

      .navbar-nav > .nav-item {
        margin-left: 80px;
      }
    }

    .linkedin {
      padding-right: 20px;
    }
  }
}
